*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
navEditor.xml
misc.xml
runConfigurations.xml
gradle.xml
codeStyles/**/*
vcs.xml